.gradient-button{
  background-image: linear-gradient(46deg,#19D3AE,#0FCFEC);
  border: none;
}
#qoute{
  background-image: url('./assets/icons/quote.svg');
  background-repeat: no-repeat;
  background-size: 192px 156px;
  background-position: 100% 0%;
  
}